<div class="mt-10">
  <app-tool-bar [showBackBtn]="true" [title]="'Create Note'"></app-tool-bar>

  <div class="container mx-auto p-3">
    <form 
      #noteForm="ngForm" 
      (ngSubmit)="onSubmit(noteForm)" 
      class="flex flex-col"
    >
    <div class="mb-6 flex flex-col">
      <label for="title" class="text-2xl mb-2">Title:</label>
      <input 
        [(ngModel)]="noteCreated.title"
        [ngClass]="{'input-error': !noteForm.valid && noteForm.touched}"
        name="title" 
        type="text" 
        placeholder="Note title" 
        class="input input-bordered w-full" 
        required
      />
      <ng-container *ngIf="!noteForm.valid && noteForm.touched">
        <label for="title" class="text-right text-error mt-2">Title is required</label>
      </ng-container>
    </div>
      <label for="content" class="text-2xl mb-2">Content:</label>
      <textarea 
        [(ngModel)]="noteCreated.content"
        name="content" 
        class="textarea textarea-bordered mb-6" 
        placeholder="Note Content" 
        rows="10"
      ></textarea>
      <div class="flex justify-end">
        <button 
          class="btn btn-outline btn-primary"
          [disabled]="noteForm.invalid"
        >Create Note</button>
      </div>
    </form>
  </div>
</div>